@page "/"
@using MudBlazor

<MudPaper Width="100%">
    <MudPaper >
        <MudItem Style="width:100%; height:294px; overflow:hidden">
            <MudImage Src="/images/hero.png"
                          Alt="Asian Food"
                          Style="width:100%; height:auto;"
                          Class="mx-auto object-contain" />
        </MudItem>
    </MudPaper>

    <MudPaper Elevation="1" Class="mb-8 pa-14">
        <MudText Typo="Typo.h5" Style="font-weight:bold;">Asian</MudText>
        <MudText Class="mt-2 text-gray-700" Typo="Typo.body1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </MudText>
    </MudPaper>

    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="px-14 pb-20">
        <MudText Typo="Typo.h5" Align="Align.Center" Style="font-weight:600; color:#5B4947;" Class="mt-14" >
            Another menu in this class
        </MudText>
        <MudGrid Class="mt-10" Gutter="3">
            @foreach (var item in MenuItems)
            {
                <MudItem xs="12" sm="4" md="4" lg="4">
                    <MudCard Class="h-full" Elevation="0">
                        <MudCardMedia Image="@item.ImageUrl" Height="180" Class="object-cover"/>
                        <MudCardContent>
                            <MudText Typo="Typo.caption">@item.Category</MudText>
                            <MudText Typo="Typo.h6">@item.Name</MudText>
                            <MudText Class="mt-10" Style="color:#FABC1D;">@item.Price</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>

    <MudPaper Elevation="0" Class="mt-10 px-20 py-8" Style="background-color:#5B4947; color:#E0E0E0;">
    <MudGrid Gutter="3">
    
        <MudItem xs="12" sm="4">
            <MudText Typo="Typo.h6" Class="mb-2">About Us</MudText>
            <MudText Typo="Typo.body2" Style="text-align:justify">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </MudText>
        </MudItem>

        
        <MudItem xs="12" sm="3" Class="ml-10 d-flex flex-column gap-2 align-start">
            <MudText Typo="Typo.h6">Produk</MudText>
            <ul style="columns:2; list-style-type: disc; padding-left:20px; margin:0; gap:20px;">
                @foreach (var produk in ProdukList)
                {
                    <li>@produk</li>
                }
            </ul>
        </MudItem>

    
        <MudItem xs="12" sm="4">
            <MudText Typo="Typo.h6">Address</MudText>
            <MudText Typo="Typo.body1" Class="mb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</MudText>
            <MudText Typo="Typo.h6" Class="mb-2">Contact Us</MudText>
            <MudStack Spacing="3" Row="true">
                <MudIconButton Icon="@Icons.Material.Filled.Call" Variant="Variant.Filled" Style="background-color:#FABC1D" Size="Size.Medium"/>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Style="background-color:#FABC1D" Size="Size.Medium"/>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Style="background-color:#FABC1D" Size="Size.Medium"/>
                <MudIconButton Icon="@Icons.Material.Filled.Email" Variant="Variant.Filled" Style="background-color:#FABC1D" Size="Size.Medium"/>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Style="background-color:#FABC1D" Size="Size.Medium"/>
            </MudStack>
        </MudItem>
    </MudGrid>
    </MudPaper>
</MudPaper>


@code {
    public record Menu(string Category, string Name, string Price, string ImageUrl);

    List<Menu> MenuItems = new()
    {
        new ("Asian", "Sushi Salmon with Mentai", "IDR 200.000", "images/menu/sushi.png"),
        new ("Asian", "Ichiraku Ramen", "IDR 350.000", "images/menu/ramen.png"),
        new ("Asian", "Beef Rendang Sapi", "IDR 200.000", "images/menu/rendang.png"),
        new ("Asian", "Pempek Palembang", "IDR 60.000", "images/menu/pempek.png"),
        new ("Asian", "Soto Betawi Limau Kast", "IDR 120.000", "images/menu/soto.png"),
        new ("Asian", "Tom Yum Thailand", "IDR 450.000", "images/menu/tomyum.png"),
        new ("Asian", "Takoyaki Deluxe", "IDR 150.000", "images/menu/takoyaki.png"),
        new ("Asian", "Jajangmeyon", "IDR 150.000", "images/menu/jajangmeyon.png"),
        new ("Asian", "Sate Padang", "IDR 300.000", "images/menu/sate.png"),
    };

    private List<string> ProdukList = new()
    {
        "Electric",
        "LCOC",
        "Offroad",
        "SUV",
        "Heartback",
        "MPV",
        "Sedan",
        "Truck"
    };
}
